img {
  width: 100px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .recipe-item {
    border-radius: 5px;
    margin: 0.2em;
    padding: 1em;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: aquamarine;
    }

  }
}
