<button class="btn btn-primary" routerLink="..">GO BACK</button>

<div class="text-center container" *ngIf="recipe.meal">
  <img class="img-thumbnail" [src]="recipe.meal.strMealThumb" [alt]="recipe.meal.strMeal">
  <h2>{{ recipe.meal.strMeal }}</h2>
  <h5>{{ recipe.meal.strArea }}</h5>
  <p>Ingredients</p>
  <ul class="list-group">
    <li class="list-group-item col-lg-4 align-self-center" *ngFor="let ingredient of ingredients">
      {{ ingredient.name }} {{ ingredient.measure }}
    </li>
  </ul>
</div>

<div class="text-center container" *ngIf="recipe.drink">
  <img class="img-thumbnail" [src]="recipe.drink.strDrinkThumb" [alt]="recipe.drink.strDrink">
  <h2>{{ recipe.drink.strDrink }}</h2>
  <h5>{{ recipe.drink.strCategory }} - {{ recipe.drink.strAlcoholic }}</h5>
  <p>Ingredients</p>
  <ul class="list-group">
    <li class="list-group-item col-lg-4 align-self-center" *ngFor="let ingredient of ingredients">
      {{ ingredient.name }} {{ ingredient.measure }}
    </li>
  </ul>
</div>
